main h1{
    margin-top: 4rem;
    color: var(--color-dark);
}

main .welcome {
    width: 80%;
    margin: 1rem auto;
    height: 50vh;
    padding: 2rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

main .search {
    width: 80%;
    margin: 1rem auto;
    height: 14rem;
    padding: 2rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
}

main .welcome::-webkit-scrollbar,
main .search::-webkit-scrollbar {
    width: 5px;
}

main .welcome::-webkit-scrollbar-track,
main .search::-webkit-scrollbar-track {
    background: #f0f0f000;
    border-radius: 10px;
}

main .welcome::-webkit-scrollbar-thumb,
main .search::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
}

main p {
    text-align: justify;
    margin-top: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}